name: Java CI with Maven

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set the JDK
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: 17
        
    - name: Build with Maven
      run: mvn -B package --file pom.xml
      
    - name: Build with Docker
      uses: mr-smithers-excellent/docker-build-push@v5
      with:
        image: cvigneshece19/test-banking-app
        tags: latest
        registry: docker.io
        dockerfile: Dockerfile
        username: ${{secrets.DOCKER_USERNAME}}
        password: ${{secrets.DOCKER_PASSWORD}}
